In [ ]:
DATABASE = 'test_numpyro'
SCHEMA = 'numpyro'
WAREHOUSE = 'FD_WH'
NUM_TIME_SERIES = 10
UDTF_NAME = 'waffle_divorce_vect_udtf'
MODEL_STAGE_NAME = '@pymodels'
SNOWPARK_CONNECTION_NAME = 'personal_sandbox'
SINGLE_MODEL_MIN_RUN_TIME_SECONDS = 10
INPUT_TABLE_NAME = 'SERIES_WAFFLE_DIVORCE'
OUTPUT_TABLE_NAME = 'DATA_WITH_PREDICTIONS'

In [93]:
import numpy as np
import pandas as pd
import numpyro
import tqdm

from snowflake.snowpark.session import Session
from snowflake.ml.utils.connection_params import SnowflakeLoginOptions
from snowflake.snowpark import types as T
from snowflake.snowpark import functions as F

In [94]:
session = Session.builder.config("connection_name", SNOWPARK_CONNECTION_NAME).create()

In [95]:
session.sql(f'create database if not exists {DATABASE}').collect()
session.use_database(DATABASE)
session.sql(f'create schema if not exists {SCHEMA}').collect()
session.use_schema(SCHEMA)

In [96]:
session.use_warehouse(WAREHOUSE)
# Add stage for UDFs and Stored Procs
session.sql(
    f"""
    create stage if not exists {MODEL_STAGE_NAME.replace('@', '')}
    """
).collect()

[Row(status='PYMODELS already exists, statement succeeded.')]

In [97]:
df = pd.read_csv('WaffleDivorce.csv', sep=';')
df.columns = [c.upper() for c in df.columns]  # Just upper case to avoid case changes with Snowflake
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LOCATION           50 non-null     object
 1   LOC                50 non-null     object
 2   POPULATION         50 non-null     float64
 3   MEDIANAGEMARRIAGE  50 non-null     float64
 4   MARRIAGE           50 non-null     float64
 5   MARRIAGE SE        50 non-null     float64
 6   DIVORCE            50 non-null     float64
 7   DIVORCE SE         50 non-null     float64
 8   WAFFLEHOUSES       50 non-null     int64
 9   SOUTH              50 non-null     int64
 10  SLAVES1860         50 non-null     int64
 11  POPULATION1860     50 non-null     int64
 12  PROPSLAVES1860     50 non-null     float64
dtypes: float64(7), int64(4), object(2)
memory usage: 5.2+ KB

In [98]:
df

,LOCATION,LOC,POPULATION,MEDIANAGEMARRIAGE,MARRIAGE,MARRIAGE SE,DIVORCE,DIVORCE SE,WAFFLEHOUSES,SOUTH,SLAVES1860,POPULATION1860,PROPSLAVES1860
0,Alabama,AL,4.78,25.3,20.2,1.27,12.7,0.79,128,1,435080,964201,0.450000
1,Alaska,AK,0.71,25.2,26.0,2.93,12.5,2.05,0,0,0,0,0.000000
2,Arizona,AZ,6.33,25.8,20.3,0.98,10.8,0.74,18,0,0,0,0.000000
3,Arkansas,AR,2.92,24.3,26.4,1.70,13.5,1.22,41,1,111115,435450,0.260000
4,California,CA,37.25,26.8,19.1,0.39,8.0,0.24,0,0,0,379994,0.000000
5,Colorado,CO,5.03,25.7,23.5,1.24,11.6,0.94,11,0,0,34277,0.000000
6,Connecticut,CT,3.57,27.6,17.1,1.06,6.7,0.77,0,0,0,460147,0.000000
7,Delaware,DE,0.90,26.6,23.1,2.89,8.9,1.39,3,0,1798,112216,0.016000
8,District of Columbia,DC,0.60,29.7,17.7,2.53,6.3,1.89,0,0,0,75080,0.000000
9,Florida,FL,18.80,26.4,17.0,0.58,8.5,0.32,133,1,61745,140424,0.440000
10,Georgia,GA,9.69,25.9,22.1,0.81,11.5,0.58,381,1,462198,1057286,0.440000
11,Hawaii,HI,1.36,26.9,24.9,2.54,8.3,1.27,0,0,0,0,0.000000
12,Idaho,ID,1.57,23.2,25.8,1.84,7.7,1.05,0,0,0,0,0.000000
13,Illinois,IL,12.83,27.0,17.9,0.58,8.0,0.45,2,0,0,1711951,0.000000
14,Indiana,IN,6.48,25.7,19.8,0.81,11.0,0.63,17,0,0,1350428,0.000000
15,Iowa,IA,3.05,25.4,21.5,1.46,10.2,0.91,0,0,0,674913,0.000000
16,Kansas,KS,2.85,25.0,22.1,1.48,10.6,1.09,6,0,2,107206,0.000019
17,Kentucky,KY,4.34,24.8,22.2,1.11,12.6,0.75,64,1,225483,1155684,0.000000
18,Louisiana,LA,4.53,25.9,20.6,1.19,11.0,0.89,66,1,331726,708002,0.470000
19,Maine,ME,1.33,26.4,13.5,1.40,13.0,1.48,0,0,0,628279,0.000000
20,Maryland,MD,5.77,27.3,18.3,1.02,8.8,0.69,11,0,87189,687049,0.130000
21,Massachusetts,MA,6.55,28.5,15.8,0.70,7.8,0.52,0,0,0,1231066,0.000000
22,Michigan,MI,9.88,26.4,16.5,0.69,9.2,0.53,0,0,0,749113,0.000000
23,Minnesota,MN,5.30,26.3,15.3,0.77,7.4,0.60,0,0,0,172023,0.000000
24,Mississippi,MS,2.97,25.8,19.3,1.54,11.1,1.01,72,1,436631,791305,0.550000
25,Missouri,MO,5.99,25.6,18.6,0.81,9.5,0.67,39,1,114931,1182012,0.097000
26,Montana,MT,0.99,25.7,18.5,2.31,9.1,1.71,0,0,0,0,0.000000
27,Nebraska,NE,1.83,25.4,19.6,1.44,8.8,0.94,0,0,15,28841,0.000520
28,New Hampshire,NH,1.32,26.8,16.7,1.76,10.1,1.61,0,0,0,326073,0.000000
29,New Jersey,NJ,8.79,27.7,14.8,0.59,6.1,0.46,0,0,18,672035,0.000027
30,New Mexico,NM,2.06,25.8,20.4,1.90,10.2,1.11,2,0,0,93516,0.000000
31,New York,NY,19.38,28.4,16.8,0.47,6.6,0.31,0,0,0,3880735,0.000000
32,North Carolina,NC,9.54,25.7,20.4,0.98,9.9,0.48,142,1,331059,992622,0.330000
33,North Dakota,ND,0.67,25.3,26.7,2.93,8.0,1.44,0,0,0,0,0.000000
34,Ohio,OH,11.54,26.3,16.9,0.61,9.5,0.45,64,0,0,2339511,0.000000
35,Oklahoma,OK,3.75,24.4,23.8,1.29,12.8,1.01,16,0,0,0,0.000000
36,Oregon,OR,3.83,26.0,18.9,1.10,10.4,0.80,0,0,0,52465,0.000000
37,Pennsylvania,PA,12.70,27.1,15.5,0.48,7.7,0.43,11,0,0,2906215,0.000000
38,Rhode Island,RI,1.05,28.2,15.0,2.11,9.4,1.79,0,0,0,174620,0.000000
39,South Carolina,SC,4.63,26.4,18.1,1.18,8.1,0.70,144,1,402406,703708,0.570000
40,South Dakota,SD,0.81,25.6,20.1,2.64,10.9,2.50,0,0,0,4837,0.000000
41,Tennessee,TN,6.35,25.2,19.4,0.85,11.4,0.75,103,1,275719,1109801,0.200000
42,Texas,TX,25.15,25.2,21.5,0.61,10.0,0.35,99,1,182566,604215,0.300000
43,Utah,UT,2.76,23.3,29.6,1.77,10.2,0.93,0,0,0,40273,0.000000
44,Vermont,VT,0.63,26.9,16.4,2.40,9.6,1.87,0,0,0,315098,0.000000
45,Virginia,VA,8.00,26.4,20.5,0.83,8.9,0.52,40,1,490865,1219630,0.400000
46,Washington,WA,6.72,25.9,21.4,1.00,10.0,0.65,0,0,0,11594,0.000000
47,West Virginia,WV,1.85,25.0,22.2,1.69,10.9,1.34,4,1,18371,376688,0.049000
48,Wisconsin,WI,5.69,26.3,17.2,0.79,8.3,0.57,0,0,0,775881,0.000000
49,Wyoming,WY,0.56,24.2,30.7,3.92,10.3,1.90,0,0,0,0,0.000000

In [99]:
# Create the multiple series
dfs = []
cols_to_shuffle = ['MARRIAGE', 'DIVORCE', 'MEDIANAGEMARRIAGE']
for i in range(NUM_TIME_SERIES):
    d = df.copy()
    d.insert(0, 'TS_ID', i)
    for col in cols_to_shuffle:
        d[col] = np.random.choice(d[col].values, size=d.shape[0], replace=False)
    dfs.append(d)
dfs = pd.concat(dfs)
dfs.TS_ID.nunique()

1000

In [100]:
# Write it to a table
sf_df = session.create_dataframe(dfs)
sf_df.write.saveAsTable(f'{DATABASE}.{SCHEMA}.{INPUT_TABLE_NAME}', mode="overwrite", create_temp_table=False)

/Users/dshinn/Anaconda/anaconda3/envs/exxon-numpyro/lib/python3.11/site-packages/snowflake/snowpark/session.py:2940: UserWarning: Pandas Dataframe has non-standard index of type <class 'pandas.core.indexes.base.Index'> which will not be written. Consider changing the index to pd.RangeIndex(start=0,...,step=1) or call reset_index() to keep index as column(s)
  success, _, _, ci_output = write_pandas(

In [101]:
# This will have to be customized for your needs
def forecast_function(df:pd.DataFrame, min_seconds=SINGLE_MODEL_MIN_RUN_TIME_SECONDS) -> pd.DataFrame:
    """
    Wraps functionality of Bayesian Regression Using NumPyro 0.15.13
    according to https://num.pyro.ai/en/0.15.3/tutorials/bayesian_regression.html

    For benchmarking purposes, put a minimum run time default of 10 seconds.
    """
    import random
    import time

    start_time = time.time()

    from jax import random, vmap
    import jax.numpy as jnp
    from jax.scipy.special import logsumexp

    from numpyro import handlers
    from numpyro.diagnostics import hpdi
    import numpyro.distributions as dist
    from numpyro.infer import MCMC, NUTS
    from numpyro.infer import Predictive

    def standardize(x):
        return (x - x.mean()) / x.std()

    def model(marriage=None, age=None, divorce=None):
        a = numpyro.sample("a", dist.Normal(0.0, 0.2))
        M, A = 0.0, 0.0
        if marriage is not None:
            bM = numpyro.sample("bM", dist.Normal(0.0, 0.5))
            M = bM * marriage
        if age is not None:
            bA = numpyro.sample("bA", dist.Normal(0.0, 0.5))
            A = bA * age
        sigma = numpyro.sample("sigma", dist.Exponential(1.0))
        mu = a + M + A
        numpyro.sample("obs", dist.Normal(mu, sigma), obs=divorce)

    df = df.copy()

    df["AGESCALED"] = df.MEDIANAGEMARRIAGE.pipe(standardize)
    df["MARRIAGESCALED"] = df.MARRIAGE.pipe(standardize)
    df["DIVORCESCALED"] = df.DIVORCE.pipe(standardize)

    # Start from this source of randomness. We will split keys for subsequent operations.
    rng_key = random.PRNGKey(0)
    rng_key, rng_key_ = random.split(rng_key)

    # Run NUTS.
    kernel = NUTS(model)
    num_samples = 2000
    mcmc = MCMC(kernel, num_warmup=1000, num_samples=num_samples)
    mcmc.run(
        rng_key_, marriage=df.MARRIAGESCALED.values, divorce=df.DIVORCESCALED.values
    )
    samples_1 = mcmc.get_samples()

    rng_key, rng_key_ = random.split(rng_key)
    predictive = Predictive(model, samples_1)
    predictions = predictive(rng_key_, marriage=df.MARRIAGESCALED.values)["obs"]
    #df = df.filter(["LOCATION"])
    df["MEAN_PREDICTIONS"] = jnp.mean(predictions, axis=0)

    run_time = time.time() - start_time
    if run_time < min_seconds:
        time.sleep(min_seconds - run_time)
    return df

In [102]:
%%time
# Getting a baseline local single run
predictions = forecast_function(df)

sample: 100%|██████████| 3000/3000 [00:00<00:00, 4244.91it/s, 3 steps of size 6.91e-01. acc. prob=0.93]

CPU times: user 1.25 s, sys: 96.5 ms, total: 1.35 s
Wall time: 10 s

In [103]:
## Settings for the input, output and UDTF.
input_df = session.table(INPUT_TABLE_NAME)
input_col_names = input_df.columns
input_dtypes = [field.datatype for field in input_df.schema.fields]
vect_udtf_input_dtypes = [T.PandasDataFrameType(input_dtypes)]
vect_udtf_output_schema = T.PandasDataFrameType(
    input_dtypes + [T.FloatType(), T.FloatType(), T.FloatType(), T.FloatType()], input_col_names + ["AGESCALED", "MARRIAGESCALED", "DIVORCESCALED", "MEAN_PREDICTIONS"]
)

In [104]:
%%time
# Defining the UDTF, should not necessarily need to be edited
@F.udtf(output_schema = vect_udtf_output_schema,
     input_types = vect_udtf_input_dtypes,
     name = UDTF_NAME, is_permanent=True, stage_location=MODEL_STAGE_NAME, session=session,
     packages=["pandas","jax","numpyro"], replace=True)
class Forecast:
    def end_partition(self, df):
        
        df.columns = input_col_names # NOTE: In Vectorized udtf you have to put the column names back into the df

        forecast = forecast_function(df)

        yield forecast

CPU times: user 41.2 ms, sys: 15.5 ms, total: 56.7 ms
Wall time: 4.38 s

In [105]:
%%time
# Call the UDTF
numpyro_test = F.table_function(
    f"{DATABASE}.{SCHEMA}.{UDTF_NAME}"
)
model_vect_udtf = input_df.select(
    #*[F.col(col_nm) for col_nm in input_col_names],
    numpyro_test(
            *[F.col(col_nm) for col_nm in input_col_names]
        ).over(partition_by=["TS_ID"], order_by=["LOCATION"])
)

CPU times: user 22.4 ms, sys: 5.01 ms, total: 27.4 ms
Wall time: 346 ms

In [106]:
%%time
# Write to table
model_vect_udtf.write.save_as_table(
    OUTPUT_TABLE_NAME, mode="overwrite"
)

CPU times: user 33.6 ms, sys: 8.12 ms, total: 41.7 ms
Wall time: 4min 16s